# conda create -n due python=3.10.0
# pip install torch==2.0.1 torchvision==0.15.2 torchaudio==2.0.2

numpy
PyYAML
imageio
imageio-ffmpeg
matplotlib
opencv-python
scikit-image
tqdm
h5py
progressbar
psutil
ninja
pandas
torchsummary
Pillow==9.4.0
scikit_learn==1.2.0

pytorch_lightning
hydra-core
omegaconf
einops
timm
tensorboard